{% load static %}
<!--APP-SIDEBAR-->
        <div class="sticky" style="margin-bottom: -74px;">
            <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
            <div class="app-sidebar ps ps__rtl ps--active-y">
                <div class="side-header">
                    <a class="header-brand1" href="index.html">
                        <img alt="logo" class="header-brand-img desktop-logo" src="{% static '' %}/images/brand/logo.png">
                        <img alt="logo" class="header-brand-img toggle-logo" src="{% static '' %}/images/brand/logo-1.png">
                        <img alt="logo" class="header-brand-img light-logo" src="{% static '' %}/images/brand/logo-2.png">
                        <img alt="logo" class="header-brand-img light-logo1" src="{% static '' %}/images/brand/logo-3.png">
                    </a>
                    <!-- LOGO -->
                </div>
                <div class="main-sidemenu">
                    <div class="slide-left disabled d-none" id="slide-left">
                        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                        </svg>
                    </div>
                    <ul class="side-menu" style="margin-left: 0px;">
                        
                        
                        <li class="sub-category">
                            <h3>گزینه ها</h3>
                        </li>
                        <li class="slide is-expanded">
                            <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">کتاب ها</span><i class="angle fe fe-chevron-right"></i></a>
                            <ul class="slide-menu open" style="display: block;">
                                <li class="side-menu-label1"><a href="javascript:void(0)">برنامه‌ها</a></li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <li><a class="slide-item" href="widgets.html">فیزیک</a></li>

                            </ul>
                        </li>
                        <li class="slide">
                            
                            <ul class="slide-menu mega-slide-menu">
                                <li class="side-menu-label1"><a href="javascript:void(0)">بوت استرپ</a></li>
                                <div class="mega-menu">
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="alerts.html"> هشدارها</a></li>
                                            <li><a class="slide-item" href="buttons.html"> دکمه‌ها</a></li>
                                            <li><a class="slide-item" href="colors.html"> رنگ‌ها</a></li>
                                            <li><a class="slide-item" href="avatarsquare.html"> آواتار مربعی</a></li>
                                            <li><a class="slide-item" href="avatar-radius.html"> آواتار گرد</a></li>
                                            <li><a class="slide-item" href="avatar-round.html"> آواتار دایره ای</a></li>
                                            <li><a class="slide-item" href="dropdown.html"> دراپ داون</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="listgroup.html"> گروه فهرست</a></li>
                                            <li><a class="slide-item" href="tags.html"> برچسب‌ها</a></li>
                                            <li><a class="slide-item" href="pagination.html"> صفحه بندی</a></li>
                                            <li><a class="slide-item" href="navigation.html"> پیمایش</a></li>
                                            <li><a class="slide-item" href="typography.html"> تایپوگرافی</a></li>
                                            <li><a class="slide-item" href="breadcrumbs.html"> مسیر سایت</a></li>
                                            <li><a class="slide-item" href="badge.html"> نشان‌ها / قرص‌ها</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="panels.html"> پانل‌ها</a></li>
                                            <li><a class="slide-item" href="thumbnails.html"> تصاویر کوچک</a></li>
                                            <li><a class="slide-item" href="offcanvas.html">منوی جانبی</a></li>
                                            <li><a class="slide-item" href="toast.html"> تست</a></li>
                                            <li><a class="slide-item" href="scrollspy.html"> نشانگر پیمایش</a></li>
                                            <li><a class="slide-item" href="mediaobject.html"> مدیا آبجکت</a></li>
                                        </ul>
                                    </div>
                                    <div class="">
                                        <ul>
                                            <li><a class="slide-item" href="accordion.html"> آکاردئون </a></li>
                                            <li><a class="slide-item" href="tabs.html"> برگه‌ها</a></li>
                                            <li><a class="slide-item" href="modal.html"> مودال</a></li>
                                            <li><a class="slide-item" href="tooltipandpopover.html"> تولتیپ و پاپ
                                                اور</a></li>
                                            <li><a class="slide-item" href="progress.html"> پیشرفت</a></li>
                                            <li><a class="slide-item" href="carousel.html"> اسلایدر</a></li>
                                            <li><a class="slide-item" href="ribbons.html"> ریبون ها</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        

                        
                        
                        
                    </ul>
                    <div class="slide-right" id="slide-right">
                        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                        </svg>
                    </div>
                </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 753px; left: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 645px;"></div></div></div>
            <!--/APP-SIDEBAR-->
        </div>
        <!--/APP-SIDEBAR-->