    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 text-center">
                    حق نشر © 1404 <a href="javascript:void(0)">174 Team</a> طراحی: <span class="fa fa-heart text-danger"></span> توسط <a href="javascript:void(0)"> 174Team </a>
                    کلیه حقوق محفوظ است.
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER CLOSED -->